<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola, soy Agus! Profesional de TI apasionado por la tecnología.
      Actualmente me desenvuelvo como <strong
        >Sysadmin en la Universidad Tecnológica Nacional (UTN)</strong
      > en donde también estudio la carrera de <strong
        >Ingeniería en Sistemas de la Información</strong
      >.
    </p>

    <p>
      Paralelamente complemento mis estudios con cursos y certificaciones en <strong
        >Lenguajes de Programación, DevOps, SRE, Cloud Computing, Networking y
        Seguridad Informática</strong
      >.
    </p>

    <p>
      Como analogía al horóscopo, uso <strong>Debian</strong> con <strong
        >Gnome</strong
      > y <strong>Tilix</strong> en mi estación de trabajo. Mi objetivo profesional
      es mantenerme a la vanguardia de las tecnologías implementadas en el area de
      IT.
    </p>
  </div>
</article>
