---
import { useTranslations } from "../i18n";
import type { Language } from "../i18n/languages";
import ExperienceItem from "./ExperienceItem.astro";

const currentLocale = (Astro.currentLocale || 'es') as Language;
const t = useTranslations(currentLocale);
const EXPERIENCE = t.experience.jobs;
---

<ol class="space-y-0">
  {
    EXPERIENCE.map((experience, index) => (
      <li>
        <ExperienceItem {...experience} index={index} />
      </li>
    ))
  }
</ol>
