---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex items-center justify-center"
>
  <div
    class="w-full max-w-screen-xl mx-auto md:flex items-center md:justify-between"
  >
    <span
      class="text-sm items-center flex justify-center sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >© {currentYear}
      - Made by Agustin Acevedo and ☕️
    </span>
    <div class="flex justify-center mb-4 mt-3">
      <a
        href="https://www.linkedin.com/in/agustinezequielacevedo/"
        target="_blank"
        rel="noopener"
        class="text-zinc-800/90 dark:text-zinc-200/90 hover:text-zinc-600/90"
      >
        <span class="sr-only">LinkedIn</span>
        <LinkedIn />
      </a>
      <span
        class="border-r border-zinc-800/90 dark:border-zinc-200/90 mx-4 h-6 self-center"
      ></span>
      <a
        href="https://github.com/AgusAcevedo"
        target="_blank"
        rel="noopener"
        class="text-zinc-800/90 dark:text-zinc-200/90 hover:text-zinc-600/90"
      >
        <span class="sr-only">GitHub</span>
        <GitHub />
      </a>
    </div>

    <ul
      class="flex justify-center flex-wrap items-center mt-4 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a href="/#top" class="hover:underline me-4 md:me-6">Home</a>
      </li>
      <li>
        <a id="contacto" href="mailto:miduga@gmail.com" class="hover:underline"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
