---
const personalImageAlt = "Agustin Acevedo";
---

<article class="flex-container">
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Sistemas Operativos</h4>
    <ul>
      <li>Debian</li>
      <li>Ubuntu</li>
      <li>CentOS</li>
      <li>FreeBSD</li>
      <li>Kali</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Containerization</h4>
    <ul>
      <li>Docker</li>
      <li>Swarm</li>
      <li>Kubernetes</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Bases de Datos</h4>
    <ul>
      <li>Postgres</li>
      <li>MySQL</li>
      <li>MongoDB</li>
      <li>Redis</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Scripting</h4>
    <ul>
      <li>Python</li>
      <li>Bash</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Clouds</h4>
    <ul>
      <li>AWS</li>
      <li>Google Cloud</li>
      <li>Azure</li>
      <li>Oracle</li>
      <li>IBM Cloud</li>
      <li>linode</li>
      <li>digitalocean</li>
      <li>Akamai</li>
      <li>ARSAT</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">
      Configuration Management
    </h4>
    <ul>
      <li>SaltStack</li>
      <li>Ansible</li>
      <li>Terraform</li>
      <li>Puppet</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Monitoring</h4>
    <ul>
      <li>Grafana</li>
      <li>Prometheus</li>
      <li>Loki</li>
      <li>InfluxDB</li>
      <li>Telegraf</li>
      <li>cAdvisor</li>
      <li>Zabbix</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">CI/CD</h4>
    <ul>
      <li>Jenkins</li>
      <li>GitLab-CI</li>
      <li>GitHub Actions</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Virtualization</h4>
    <ul>
      <li>Opennebula</li>
      <li>Proxmox</li>
      <li>VirtualBox</li>
    </ul>
  </div>
</article>

<style>
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex-item {
    flex: 1 0 21%; /* Or whatever percentage you want */
    margin: 10px;
    box-sizing: border-box;
  }
</style>
