<article class="grid grid-cols-3 md:grid-cols-4 gap-6 lg:grid-cols-5">
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">OS</h4>
    <ul>
      <li>Debian</li>
      <li>Ubuntu</li>
      <li>CentOS</li>
      <li>FreeBSD</li>
      <li>Kali</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Container</h4>
    <ul>
      <li>Docker</li>
      <li>Swarm</li>
      <li>Kubernetes</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">DB</h4>
    <ul>
      <li>Postgres</li>
      <li>MySQL</li>
      <li>MongoDB</li>
      <li>Redis</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Scripting</h4>
    <ul>
      <li>Python</li>
      <li>Bash</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Clouds</h4>
    <ul>
      <li>AWS</li>
      <li>Google Cloud</li>
      <li>Azure</li>
      <li>Open Nebula</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">IAT</h4>
    <ul>
      <li>SaltStack</li>
      <li>Ansible</li>
      <li>Terraform</li>
      <li>Puppet</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">Monitoring</h4>
    <ul>
      <li>Grafana</li>
      <li>Prometheus</li>
      <li>Loki</li>
      <li>InfluxDB</li>
      <li>Telegraf</li>
      <li>cAdvisor</li>
    </ul>
  </div>
  <div class="flex-item">
    <h4 class="font-semibold text-xl text-yellow-400">CI/CD</h4>
    <ul>
      <li>Jenkins</li>
      <li>GitLab-CI</li>
      <li>GitHub Actions</li>
    </ul>
  </div>
</article>

<style>
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex-item {
    flex: 1 0 21%; /* Or whatever percentage you want */
    margin: 10px;
    box-sizing: border-box;
  }
</style>
